body{
    
}

p{
    word-break:break-all;
    word-wrap:break-word;
}

#logo{
    font-size: 50px;
    color: #b92c28;
    height: 100px;
    
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
  margin-bottom: 10px;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}


  #latitude ,#longitude {
   display: none;
   color: #b92c28;
}